name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test-monorepo.yml@a49e2c79732efcc4fb044a240fd07748f27fdfae # v0.2.10
    secrets: inherit
