name: Release on tag

permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+*

jobs:
  gh-release:
    name: Create release
    permissions:
      contents: write
    uses: go-openapi/ci-workflows/.github/workflows/release.yml@a49e2c79732efcc4fb044a240fd07748f27fdfae # v0.2.10
    with:
      tag: ${{ github.ref_name }}
      is-monorepo: true
    secrets: inherit
